@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />

    <form method="post">
        <h2>Taşınan Mail adresi:@ViewBag.v</h2>
        <br />
        <lable>Kullanıcı Id Değeri</lable>
        <input type="text" class="form-control" />
        <br />
        <lable>Mail Adresinize Gelen 6 Haneli Kodu Giriniz</lable>
        <input type="text" class="form-control" />
        <br />
        <button class="btn btn-primary">Hesabı Aktifleştir</button>
    </form>
</div>